@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&family=Raleway:ital,wght@0,200;0,300;0,400;0,700;0,900;1,100;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.herobg{
  background-image: url("/public/snooker_bg.jpg");
  background-size: cover;
  background-position:  center;
}

#arrowlft {
  /* margin-top: 0.3rem; */
  color: yellow;
}

#arrowright {
  color: yellow;
}

.transitionclass:hover {
  transition: all 0.3s linear;
}

#bindi {
  color: #FFFF00;
}

.swiper-pagination {
  color: #FFFF00;
}

@media (max-width: 767px) {
  .navicon {
    width: 1.125em;
    height: .125em;
  }

  @media (max-width: 767px) {
    .navicon {
      width: 1.125em;
      height: .125em;
    }

  }

  .navicon::before,
  .navicon::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
    content: '';
    background: #FFFF00;
  }

  .navicon::before {
    top: 5px;
  }

  .navicon::after {
    top: -5px;
  }

  .menu-btn:not(:checked)~.menu {
    display: none;
  }

  .menu-btn:checked~.menu {
    display: block;
  }

  .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked~.menu-icon .navicon::before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked~.menu-icon .navicon::after {
    transform: rotate(45deg);
  }

  .menu-btn:checked~.menu-icon .navicon::before,
  .menu-btn:checked~.menu-icon .navicon::after {
    top: 0;
  }
}

@media (max-width: 600px) {

  #arrowlft {
    color: yellow;

    margin-top: 0.7rem;
  }

  #arrowright {
    color: yellow;

    margin-top: 0.7rem;
  }

}
footer{
  background-color: rgb(4, 1, 19);
}